div.neon{

  font-family: 'Exo 2', sans-serif;

  font-size: 6rem;
    position: fixed;
    margin-top: 2em;
    margin-left: 0;
    margin-right: 10%;
    left: 0;
    top: 0;
    width: auto;

}
div.neon2{

  font-family: 'Exo 2', sans-serif;

  font-size: 3rem;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-right: 10%;
    left: 0;
    top: 0;
    width: auto;

}


@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
  /* Base font size */
  font-size: 10px;

  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

h1.neon {
  font-weight: 200;
  font-style: italic;
  color: #fff;
  padding: 4rem 6rem 5.5rem;
  border: 0.4rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;     
}

h1.neon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1.neon::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1.neon:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}